{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
<meta itemprop="dateModified" content="{{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}">
<meta itemprop="datePublished" content="{{ .PublishDate.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}">
<span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <meta itemprop="url" content="{{ .Params.image | absURL }}">
    {{ $photo_path := path.Join "/static" .Params.image}}
    {{ with (imageConfig $photo_path)}}
    <meta itemprop="width" content="{{ .Width }}">
    <meta itemprop="height" content="{{ .Height }}">
    {{ end }}
</span>
<span itemprop="editor author creator copyrightHolder" itemscope itemtype="https://schema.org/Person">
    <meta itemprop="url" content="/about/">
    <meta itemprop="name" content="{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}">
</span>
<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
    <meta itemprop="name" content="{{ .Site.Title }}">
    <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="{{ .Site.Params.sitelogopath | absURL}}">
        {{ $photo_path := path.Join "/static" $.Site.Params.sitelogopath}}
        {{ with (imageConfig $photo_path)}}
        <meta itemprop="width" content="{{ .Width }}">
        <meta itemprop="height" content="{{ .Height }}">
        {{ end }}
    </span>
</span>